@model Glosowanie.Models.Token

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="panel">
        <p>Wprowadź token i przejdź do ankiety</p>
        <div class="stepImg">@Html.TextBoxFor(model => model.TokenValue, new { placeholder = "Token", @class = "input" })</div>
        <button type="submit" style="clear:both;">Przejdź do ankiety</button>
    </div>
}